$app-bg-color: #121b2d;
/* $app-light-bg-color: red; */
$app-light-bg-color: #1f283a;

$app-yellow: #d6a351;
$app-green: #4da564;

$main-text-color: white;
$main-text-hover-color: #a0a3ab;

$btn-bg-paddding-color: #1f283a;
