@import "../../styles/partials/_breakpoints.scss";
@import "../../styles/partials/_theme.scss";

.app-header {
  width: 100% !important;
  padding-top: 43px;
  font-weight: 500;
  position: relative;
  z-index: 10;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-side {
      display: flex;
      align-items: center;

      .logo-container {
        width: 154px;
        height: 34px;
        margin-right: 30px !important;
        position: relative;
        z-index: 10;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .menu-itens-container {
        display: flex;

        .log-in.mobile {
          display: none;
        }

        .sign-up.mobile {
          display: none;
        }

        a {
          width: 100%;
          height: 100%;
          padding: 0 10px;
        }
      }
    }

    .right-side {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 10;

      .log-in.desktop {
        margin-right: 20px;
      }

      a {
        &.login-in {
          margin-right: 40px !important;
        }

        &.sign-up {
          background: $btn-bg-paddding-color;
          padding: 14px 22px;
          border-radius: 3px;
          color: $main-text-color !important;

          transition: 0.35s !important;
          box-shadow: 0 0 0 1px #ffffff0d, 0 4px 6px #0000001a,
            0 1px 10px #0000001a;

          &:hover {
            background: $app-yellow !important;
            color: $main-text-color !important;
          }
        }
      }
    }

    a {
      &:hover {
        color: $main-text-hover-color;
        transition: 0.15s;
      }
    }
  }

  @media (max-width: $mobile) {
    .menu-itens-container {
      font-size: 24px;
      position: absolute;
      background-color: $app-light-bg-color;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(-100vh);
      transition: 0.5s ease;
      padding: 135px 32px 30px;

      a {
        display: flex;
        align-items: center;
        width: fit-content !important;
        height: 56px !important;
      }

      &.active {
        transform: translateY(0);
      }
    }
  }

  @media (max-width: $mobile-mid) {
    .sign-up.desktop {
      display: none !important;
    }

    .sign-up.mobile {
      display: flex !important;
    }
  }

  @media (max-width: $mobile-small) {
    .log-in.desktop {
      display: none !important;
    }

    .log-in.mobile {
      display: flex !important;
    }
  }
}
