@import "../../styles/partials/_breakpoints.scss";
@import "../../styles/partials/_theme.scss";

.pricing {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  background: url("../../assets/background.jpg") no-repeat 50% / cover;

  .pricing-container {
    position: relative;
    z-index: 3;
 
    .pricing-content {
      .pricing-title {
        text-align: center;
        font-size: 51.98px;
        margin-bottom: 40px !important;

        font-family: "Casper", Poppins, -apple-system, BlinkMacSystemFont,
          Segoe UI, Helvetica, Arial, sans-serif;
      }

      .pricing-items {
        display: flex;
        justify-content: center;
        background-color: $app-light-bg-color;
        border-radius: 6px !important;
        padding: 40px ;

        .item-box {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;
          border-radius: 6px !important;
          background-color: $app-light-bg-color;
          border: 1px solid #2b3a54;
          padding: 20px !important;
          margin: 10px !important;

          .item-img {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 180px;
            max-height: 168px;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .item-title {
            font-size: 0.875rem;
            font-weight: 700;
            margin: 7px 0 !important;
          }

          .item-desc {
            font-size: 0.875rem;
            font-weight: 700;
            color: $app-yellow;
          }

          .item-button {}
        }

        @media (max-width: $mobile) {
          flex-direction: column !important;
          padding: 0;
        }
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    background: rgba(0, 28, 68, 0.54) linear-gradient(transparent 0, rgba(0, 0, 0, 0.53) 30%, #121b2d 100%);
    z-index: 2;
    height: 100% !important;
    width: 100% !important;
    top: 0;
    left: 0;
  }
}