@import "../../styles/partials/_breakpoints.scss";
@import "../../styles/partials/_theme.scss";

.app-footer {
  width: 100% !important;
  padding-top: 43px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  position: relative;
  z-index: 10;

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

    .left-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 108px;
      font-weight: 300;
      font-size: 0.938rem;

      .logo-container {
        width: 189.65px;
        height: 34.4px;
        margin-right: 12px !important;
        position: relative;
        z-index: 11;
        margin-bottom: 15px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .footer-copyright {
        margin-bottom: 13px;
        display: flex;
        font-weight: 300;
        font-size: 1rem !important;

        p {
          margin-left: 7px;
          color: $app-yellow !important;
        }
      }

      .footer-terms {
        font-weight: 700 !important;
      }
    }

    .right-side {
      display: flex;
      flex-direction: column;
      z-index: 10;
      text-align: center;
      height: 108px;

      h3 {
        color: $app-yellow !important;
        margin-bottom: 4px;
        font-size: 1.313rem;
      }

      .contact {
        flex-direction: column;
        color: $app-yellow !important;

        a {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.938rem;
          margin-bottom: 2px;
          font-weight: 300;

          p {
            font-weight: 700 !important;
            margin-right: 5px;
          }

          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
    }

    a {
      &:hover {
        color: $main-text-hover-color;
        transition: 0.15s;
      }
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}
