@import "../../styles/partials/_breakpoints.scss";
@import "../../styles/partials/_theme.scss";

.home {
  padding-top: 160px !important;
  padding-bottom: 90px !important;

  .home-container {
    position: relative;
    padding-bottom: 120px;
/*     padding-left: 20px; */

    .home-content {
    max-width: 480px;

      .home-desc {
        margin-bottom: 40px !important;
        text-align: left;
        font-size: 1.125rem;
        letter-spacing: -0.014em;
        color: $main-text-hover-color;
      }
    }

    .home-image {
      position: absolute;
      left: 48%;
      top: -30px;
      width: 1036px;
      height: 633px;
      transform: matrix(0.96, 0.05, -0.3, 1, 0, 0);
      z-index: -1;
      border-radius: 14px;
      overflow: hidden;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background-image: linear-gradient(180deg, transparent, #121b2d);
        z-index: 2;
      }

      img {
        height: 100%;
        width: 100%;
        opacity: 0.6;
        object-fit: cover;

        mask-image: linear-gradient(to top, transparent, black);
        -webkit-mask-image: linear-gradient(to top, transparent, black);
        mask-image: linear-gradient(to left, transparent, black);
        -webkit-mask-image: linear-gradient(to left, transparent, black);
      }

      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  @media (max-width: $mobile-mid) {
    text-align: center !important;

    .home-desc{
      text-align: center !important;
    }
  }
}